.box{
	width: 100%;
	margin: 0 auto;
}
.header{
	width: 100%;
	height: 900px;
	background-image: url(../img/work.jpg);
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.hello{
	color: white;
}
.work{
	color: white;
}
.main{
	width: 100%;
	background:grey;
	color: white;
}
.mmywork{
	text-align: center;
}
.interst{
	font-size: 24px;
	text-align: center;
	width: 400px;
}
.fb1{
	display: flex;
	justify-content: center;
}
.card1{
	width: 20%;
	border:1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.card2{
	width: 20%;
	border:1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.fb2{
	display: flex;
	justify-content: space-around;
}
.aside{
	width: 100%;
	background:white;

}
.projcts{
	text-align: center;
}
.portf{
	width: 100%;
	height: 300px;
}
.fb3{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
button{
	background:lime;
	color: white;
}
a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  margin: 10px 20px;
  padding: 15px 30px;
  overflow: hidden;
  border: 2px solid;
  border-bottom-width: 4px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgba(30,255,188,1);
  background: rgba(255,255,255,1);
  transition: color .3s, background .5s;
}
a:hover {
  animation: stripes .75s infinite linear;
  background: linear-gradient(45deg, rgba(30,255,188,1) 25%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 50%, rgba(30,255,188,1) 50%,      rgba(30,255,188,1) 75%, rgba(255,255,255,1) 75%, rgba(255,255,255,1));
  background-size: 10px 10px;
  color: #FF50E5;
}
@keyframes stripes {
  0% {background-position: 0 0;}
  100% {background-position: 50px 0;}
}
.footer{
	text-align: center;
	width: 100%;
	height: 200px;
	background:grey;
}