.box{
	width: 80%;
	margin: 0 auto;
}
.header{
	width: 100%;
	height: 900px;
	background-image: url(../emeges/work.jpg);
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.hello{
	color: white;
}
.work{
	color: white;
}
.main{
	height: 750px;
	background:#d5dadd;
}
.mmywork{
	text-align: center;
}
.interst{
	font-size: 24px;
	text-align: center;
	width: 400px;
}
.fb1{
	display: flex;
	justify-content: center;
}
.card1{
	width: 30%;
	height: 400px;
	border:1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.card2{
	width: 30%;
	height: 400px;
	border:1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.fb2{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.aside{
	width: 100%;
	height: 600px;
	background:white;
}
.projcts{
	text-align: center;
	margin-left: -4%;
}
.portf{
	width: 100%;
	height: 300px;
}
.fb3{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	align-content: center;
}
button{
	background:lime;
	color: white;
}

.footer{
	text-align: center;
	width: 100%;
	height: 200px;
	background:#d5dadd;
	display: flex;
	flex-direction: column;
}
.fb4{
	display: flex;
	justify-content: center;
	align-items: center;
}
.mele{
	width: 3%;
	margin: 1%;
}
.instblock{
	background:transparent;
	border: 0px ;
	width: 55%;
}
.aye{
	background:transparent;
	border: none;
	font-size: 12px;
}

.fancy-btn{
  width: 25%;
  height: 400px;
  margin-left: -4%;
  margin-top: 4%;
  position:relative;
  border:2px solid #fda;
  color:#fda;
  font-family:'Dancing Script',serif;
  font-style:italic;
  font-size:30px;
  text-decoration:none;
  transition: color 0.4s
}
.fancy-btn:after{
  content:" ";
  border:2px solid rgba(0,0,0,0);
  display:inline-block;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  transition:all 0.4s;
}
.fancy-btn:hover{
  color:#eee
}
.fancy-btn:hover:after{  
  border:2px solid #fda;
  width: calc(100% - 10px);
  height: calc(100% + 10px); 
}



/* follow me @nodws */
#btn-twtr{
  clear:both;
  color:#fff;
  border:2px solid;
  border-radius:3px;
  text-align:center;
  text-decoration:none;
  display:block;
  font-family:sans-serif;
  font-size:14px;
  width:13em;
  padding:5px 10px;
  font-weight:600;
  margin:90px auto;
  background:rgba(0,0,0,0.2);
  box-shadow:0 0 0px 3px rgba(0,0,0,0.2);
  opacity:0.6
}#btn-twtr:hover{color:#fff;opacity:1}

.proj{
	text-align: center;
}